@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #16181c;
  color: #fff;
  font-family: 'Lexend';
  text-align: center;
  padding: 15px;
}

h1 {
  font-size: 45px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

.input-div {
  margin: 10px 0px;
}

input {
  background: #24232b;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  width: 50vw;
  color: #fff;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  text-decoration-style: solid;
  text-decoration-color: #fff;
  transition: 500ms;
  outline: none;
  font-family: 'Lexend';
}

input:hover {
  background: #373541;
}

::placeholder {
  color: #757575;
  font-size: 16px;
  font-family: 'Lexend';
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.7;
  margin: 0px 100px;
}

.game-card {
  width: 150px;
  padding: 10px;
  border-radius: 15px;
  background: #24232b;
  transition: 300ms;
  margin: 15px;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-card .game-cover {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}